
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Inter', sans-serif;
      background: linear-gradient(135deg, #f8fafc, #ffffff);
      color: #333;
    }


.contact_section_header{
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.5); */
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
  }