.container.balancesheet{
  /* max-width: 850px; */
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); */
}
.balancesheet-header{
  color: #ffffff;
  font-weight: 700;
  background: linear-gradient(to right, #00192D, #003D5B, #00788D);
  padding: 15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 16px;
}